@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
a {
    text-decoration: none;
    color: inherit;
    cursor: default;
  }
.stv1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: aqua;
}
.stv2{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: aqua;
}
.stv3{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: aqua;
}
.stv4{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: aqua;
}
.stv5{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: aqua;
}
.banner-card{
    height: 500px;
}
.trailer{
    font-family: 'Roboto', sans-serif;
    color: green;
    position: absolute;
    top: 100px;
    font-size: 50px;
}
.d1{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: aqua;
}
.d2{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: aqua;
}
.d3{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: aqua;
}
.d4{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: aqua;
}
.d5{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: aqua;
}
.d6{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: aqua;
}
.c1{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: aqua;
}
.c2{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: aqua;
}
.c3{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: aqua;
}
.c4{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: aqua;
    
}
.c5{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: aqua;
}
.c6{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: aqua;
}
.t1{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: aqua;
}
.t2{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: aqua;
}
.t3{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: aqua;
}
.t4{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: aqua;
}
.t5{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: aqua;
}
.t6{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: aqua;
}
.trl{
    height: 250px;
}
body{
    background: url('background2.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.back-to-home{
    margin-top: -40px;
    height: 50px;
    float: left;
    background-color: #333333;
    border: none;
    color: blue;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }
.dolphin{
    height: 250px;
}
.download{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aquamarine;
}